<template>
    <header class="header">
        <div class="container">
            <div class="header__content">
                <div class="header__content-title">
                    <h1>База данных пользователей</h1>
                </div>
                <div class="header__content-subtitle">На данный момент зарегистрированно {{returnCountUsers}} пользователей</div>
                <div class="header__content-search">
                    <form class="header__content-form">
                        <input class="header__content-input" type='text' placeholder="Найти пользователя..." @input="searchingUser($event)">
                    </form>
                </div>
                
            </div>
        </div>
    </header>
</template>
<style lang="scss">
    .header{
        background: #24498c;
        padding: 10px;
        &__content{
            display: flex;
            flex-direction: column;
            gap: 10px;  
            &-title{
                color: #fff;
                font-size: calc(10px + 3vmax);
            }         
            &-subtitle{
                color: #fff;
                font-size: calc(10px + 1vmax);
            } 
            &-input{
                border: none;
                width: 100%;
                padding: 10px;
                height: 100%;
                box-sizing: border-box; 
                border-radius: 5px;
                color: #24498c;     
            }
            &-form{
                height: calc(10px + 2.5vmax);
                display: flex;                
            }
        }
    }
</style>
<script>
export default {
    methods: {
        searchingUser(event){
            let value=event.target.value
            this.$store.dispatch('searchingUser',{str:value})
        }
    },
    computed:{
        returnCountUsers(){
            if(this.$store.getters.returnCountUsers!==0){
                return this.$store.getters.returnCountUsers
            }
            else{
                return 0
            }
        },
        returnUsers(){
            return this.$store.getters.returnUsers
        },
        returnCurrentUsers(){
            return this.$store.getters.returnCurrentUsers
        },        
    }
}
</script>