<template>
    <div class="popup__bg" @click.self="toClosingModal">
        <div class="popup__window">
            <div class="popup__window-title">
                <h4>Введите актульные данные</h4>
            </div>
            <form class="popup__form" @submit.prevent="editingUser(id)">
                <input type="text" class="popup__input" placeholder="Введите новое имя..." v-model="newName">
                <input type="submit" class="popup__submit">
            </form>
        </div>
    </div>
</template>
<style lang="scss">
    .popup{
        &__bg{
            position: fixed;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            top: 0;
            left: 0;
            background: #00000091;    
        }    
        &__window{
            display: flex;
            flex-direction: column;
            height: 25vmax;
            background: #fff;
            width: 60vmax;
            align-items: center;
            justify-content: center;
            gap: 60px;      
            &-title{
                font-size: calc(10px + 1vmax);
                color: #24498c;
            }      
        }
        &__form{
            display: flex;
            flex-direction: column;
            gap: 20px;            
        }
        &__input{
            border: 3px solid #24498c;
            height: 30px;
            padding: 5px;
        }
        &__submit{
            background: #24498c;
            color: #fff;
            font-weight: 900;
            border: none;
            height: 30px;
        }
    }
</style>
<script>
export default {
    props:['id'],
    data(){
        return{
            isModal:false,
            newName:'',
        }
    },
    methods: {
        toClosingModal(){
            this.$store.dispatch('toClosingModal')
        },
        editingUser(id){
            this.$store.dispatch('editingUser',{
                id:id,
                name:this.newName
            })
            this.$emit('toCloseModal')
        }
    },
    computed:{
        returnId(){
            return this.Id
        },
        toCloseModal(){
            return this.toCloseModal
        }
    },
}
</script>