<template>
    <main class="main">
      <div class="container">
          <div class="main__content">
            <div class="main__title">
            <h2>Зарегистрированные пользователи</h2>
            </div>
            <UserList/>
            <div class="main__btn" v-if="returnUsers.length>0">
                <button @click="deletionCheckedRow">Удалить всех выбранных</button>
            </div>
          </div>
      </div>
    </main>
</template>
<style lang="scss">
    .main{
        flex-grow: 2;
        &__content{
            display: flex;
            flex-direction: column;
            gap: 20px;            
        }
        &__title{
            color: #24498c;
            font-size: calc(10px + 1vmax);
            text-align: center;
            padding: 10px;
            box-shadow: 1px 3px 2px #24498c;
            border-radius: 5px;            
        }
        &__btn{
            align-self: flex-end;
            button{
                background: #24498c;
                color: #fff;
                font-weight: 900;
                padding: 10px;
                border: none;                
            }            
        }
    }
</style>
<script>
import UserList from '../UserList/UserList.vue'
export default {
    components:{
        UserList
    },
    methods:{
        deletionCheckedRow(){
            this.$store.dispatch('deletionCheckedRow')
        }
    },
    computed:{
        returnUsers(){
            return this.$store.getters.returnUsers
        }
    }
}
</script>