<template>
    <footer class="footer">
        <div class="container">
            <div class="footer__content">
                <div class="footer__content-title">
                    <h3 @click="createId">Добавить пользователя</h3>
                </div>
                <form class="footer__form" @submit.prevent="addUser">
                    <input type="text" name="user" id="" class="footer__form-input" @change="createUser($event)" v-model="user.name" placeholder="Ввведите пользователя...">
                    <input type="submit" class="footer__form-submit">
                </form>
            </div>
        </div>
    </footer>
</template>
<style lang="scss">
    .footer{
        background: #24498c;
        min-height: 10vmax;
        display: flex;
        align-items: center;
        &__content{
            display: flex;
            flex-direction: column;
            gap: 20px;            
            &-title{
                color: #fff;
                font-size: calc(10px + 1vmax);
            }
        }
        &__form{
            height: 3vmax;
            display: flex;
            gap: 10px;            
            &-input{
                border: none;
                width: 40vmax;
                height: 100%;
                padding: 0 15px;
            }
            &-submit{
                height: 100%;
                border: navajowhite;
                width: 10vmax;
                background: #fff;
                color: #24498c;
                font-size: calc(10px + 0.5vmax);
                font-weight: 900;
                border-radius: 5px;                
            }
        }
    }
</style>
<script>
export default {
    data(){
        return{
            id:1,
            user:{
                name:''
            }
        }
    },
    methods: {
        createId(){
            toString(this.id)
            for(let i=0;i<8;i++){
                this.id+=Math.floor(Math.random()*1000)
            }
            return this.id
        },
        createUser(e){
            this.user.name=e.target.value
        },
        addUser(){
            this.$store.dispatch('addingUser',{name:this.user.name,id:this.createId(),checked:false})
            this.user.name=''
        }
    },
}
</script>