<template>
<transition name="fade">
    <tr class="user__list-item" :class="{'user__list-item-active':user.checked}">
        <td class="td-id">
            <input type="checkbox" @change="checkedRow($event,user)" :checked='user.checked' >
            <span class="user__list-item-str">{{user.id}}</span>
        </td>
        <td class="td-user" @click="toOpenModal"><span class="user__list-item-str">{{user.name}}</span></td>
        <td><span @click="deletionUser(user.id)" class="user__list-item-button"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRlDzgwFcKLbbGsOy0e7WfJanzgI9uAQmQf5w&usqp=CAU" alt="icon"></span></td>
        <Popup @click.native.self="toCloseModal" @toCloseModal='()=>{isModal=false}' v-if="returnIsModal" :id='user.id'/>
    </tr>
</transition>
</template>
<style lang="scss">
    .user__list{
        &-item{
        min-height: calc(10px + 2.5vmax);
        border: 3px solid #24498c;
        &-active{
            background: #e4eeff;
        }
        &-str{
            font-size: calc(10px + 1vmax);
        }
        &-button{
            cursor: pointer;
            height: 25px;
            width: 25px;
            display: block;
            img{
                width: 100%;
                height: 100%;
            }
        }
    }
}
    .td-id{
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 5px;     
        input{
            cursor: pointer;
            width: 22px;
            height: 20px;
        }   
    }
    .td-user{
        width: 60vmax;
        cursor: pointer;
    }
    .fade-enter-active, .fade-leave-active {
    transition: opacity .2s;
    }
    .fade-enter, .fade-leave-to /* .fade-leave-active до версии 2.1.8 */ {
    opacity: 0;
    }    
</style>
<script>
import Popup from '../popup/Popup.vue'
export default {
    components:{
        Popup
    },
    props:['user'],
    data(){
        return{
            isModal:false
        }
    },
    methods: {
        deletionUser(id){
            this.$store.dispatch('deletionUser',{id:id})
        },
        toOpenModal(){
            // this.$store.dispatch('toOpeningModal')
            this.isModal=true
        },
        toCloseModal(){
            this.isModal=false
        },
        checkedRow(event,user){
            if(event.target.checked){
                user.checked=true
            }
            else{
                user.checked=false                
            }
        }
    },
    computed:{
        returnIsModal(){
            return this.isModal
        }
    }
}
</script>