<template>
  <div class="app">
    <Header/>
    <Main/>
    <Footer/>
  </div>
</template>
<style lang="scss">
  .app{
    display: flex;
    flex-direction: column;
    gap: 50px;
    min-height: 100vh;
  }
</style>
<script>
import Header from '../components/Header/Header.vue'
import Main from '../components/Main/Main.vue'
import Footer from '../components/Footer/Footer.vue'
export default {
  components:{
    Header,
    Main,
    Footer
  }
}
</script>
