<template>
    <table class="user__list">
        <tr>
            <td class="td-id">
                <input type="checkbox" @change="checkingAllRow($event)" :disabled='returnCurrentUsers.length==0' :checked='returnAllChecked'>
                <span class="user__list-item-str">id</span>
            </td>
            <td class="td-user"><span class="user__list-item-str">name</span></td>
            <td></td>
        </tr>
        <UserListItem v-for="(user,index) in returnCurrentUsers" :key='index' :user='user'/>
    </table>
</template>
<style lang="scss">
    .user__list{
        border-collapse: collapse; 
        width: 100%;
    }
    .td-id{
        width: 15vmax;
    }
</style>
<script>
import UserListItem from '../UserListItem/UserListItem.vue'
export default {
    components:{
        UserListItem
    },
    data(){
        return{
            storageData:[]
        }
    },
    methods: {
        checkingAllRow(event){
            this.$store.dispatch('checkingAllRow',{isChecked:event.target.checked})
        }
    },
    computed:{
        returnUsers(){
            return this.$store.getters.returnUsers
        },
        returnCurrentUsers(){
            return this.$store.getters.returnCurrentUsers
        },
        returnStorageData(){
            return this.storageData
        },
        returnAllChecked(){
            return this.$store.getters.returnAllChecked
        }
    },
}
</script>